#!/bin/bash
sudo -s
curl -k https://puppet-master1-hmqazga8yrlcunj5.us-east-1.opsworks-cm.io:8140/packages/current/install.bash | sudo bash
puppet agent -t
mkdir /var/www
sudo echo "<?php
define('DB_SERVER', '${endpoint}.mysql.database.azure.com');
define('DB_USERNAME', 'mysqladmin');
define('DB_PASSWORD', 'Password123');
define('DB_DATABASE', 'exampledb');
?>" >> /var/www/azuredbinfo.inc
